<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680350884015-5pcpcrptgi1lsr7ft64fhqd9i5rt6cd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680350884015-5pcpcrptgi1lsr7ft64fhqd9i5rt6cd1</string>
	<key>API_KEY</key>
	<string>AIzaSyDkXiFUl9mdzX1kFTB_zQsnbWULpKpLNeU</string>
	<key>GCM_SENDER_ID</key>
	<string>680350884015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.albaylar.FoursquareClone</string>
	<key>PROJECT_ID</key>
	<string>foursquarecloneapp-5eb6f</string>
	<key>STORAGE_BUCKET</key>
	<string>foursquarecloneapp-5eb6f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680350884015:ios:3ce00a83a43cabe050745a</string>
</dict>
</plist>